@charset "utf-8";
@import "base.css";
body
{
    overflow: visible;
}
.banner2{

    background-color: #FFF;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.about
{
    background-color: #FFF;
    display: flex;    
    flex-direction: column;
    justify-content: center;
    padding-left: 320px;
    padding-right: 320px;
    margin-top: 10%;
    text-align: center;
}
.about h2
{
    
    text-align: center;
    padding-bottom: 5px;
}
.about h3
{
    text-align: center;
    padding-bottom: 5px;
}
.center
{
    display: flex;
    padding-left: 25%;
}
.about p
{
    padding-top: 15px;
    padding-bottom: 15px;
    box-sizing: border-box;
}
.about img
{
    display: flex;
    text-align: center;
    padding-left: 25%;
    width: 50%;
    height: 50%;
}
.about  a{
    padding-top: 20px;
    padding-bottom: 20px;
}
.col
{
    width: 100%;
    padding: 15px;
    height: 100%;
}

.col-content
{
    position: relative;
    width: 100%;
    padding: 24px 28px 29px 28px;
    background-color: #FFF;
    border-radius: 4px;
    box-shadow: 0 20px 48px 0 rgba(59, 69, 152, .15);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}
section{
    margin: 0 auto;
    display:flex ;
    width: calc(33% - 12.5px);
    height: 260px;
    margin-top: 70px;
    margin-bottom: 70px;
    max-height: 560px;
    background-color: #FFF;
    box-shadow: 0 20px 48px 0 rgba(59, 69, 152, .15);
    border-radius: 10px;
    overflow: hidden;
    text-align: center;
    flex-direction: row;

}

section figure
{
    display: flex;

    justify-content: center;
    align-items: center;
}
section::before{
    position: absolute;
    content: "";
    filter: blur(20px);
    z-index: -1111;
    flex-direction: row;


}
section figure img{
    width: 45%;
    height: 45%;

}
.row h1{
    margin-top: 29px;
    margin-bottom: 29px;
    font-size: 24px;
    font-weight: 500;
    display: flex;
    text-align: center;
}

section p{
    margin-top: 11px;
    padding: 0 40px;
    font-size: 16px;
    font-weight: 400px;
    color: #222;
}
/* Row */
.row
{
    width: 90%;
    display: flex;
    flex-direction: row;
    background-color:#FFF;
    justify-content: space-evenly;
    text-align: center;
    margin: 0 auto;

}
.row img{
    width: 25%;
    height: 25%;
}
input[type="button"]{

width: 30%;
height: 20%;
text-align: center;
background-color: #61cafd;
border: 1px solid #61cafd;
letter-spacing: .2px;
font-weight: 600;
color: black;
cursor: pointer;
}
input[type="button"]:hover
{
    background-color: #FFF;
    border: 1px solid #61cafd;
}
a.first-child
{
   margin-top: 10px; 
width: 40%;
height: 30%;
text-align: center;
background-color: #61cafd;
border: 1px solid #61cafd;
letter-spacing: .2px;
font-weight: 600;
color: black;
cursor: pointer;
padding: 15px;
text-decoration: none;
}
 a.first-child:hover
{
    background-color: #FFF;
    border: 1px solid #61cafd;
}


table.GeneratedTable {
    width: 100%;
    background-color: #ffffff;
    border-collapse: collapse;
    border-width: 2px;
    border-color: #93ccea;
    border-style: solid;
    color: #000000;
  }
  
  table.GeneratedTable td, table.GeneratedTable th {
    border-width: 2px;
    border-color: #93ccea;
    border-style: solid;
    padding: 3px;
  }
  
  table.GeneratedTable thead {
    background-color: #93ccea;
  }
